<div class="panel panel-default">
    <div class="panel-body width-80percent">
        <ul>
            <li>First Name :</li>{{firstName}}
            <li>Last Name :</li>{{lastName}}
            <li>Address :</li>{{address}}
            <li>Email :</li>{{email}}
            <li>Phone :</li>{{phone}}
        </ul>
        <ul>
            <li>Profile</li>
        </ul>
    </div> 
    <div>
        <button [disabled]="!createServer" class="btn btn-primary" (click)="onCreateServer()">Create Server</button>
        <p [innerText]="serverCreated"></p>
        Server Name: <input class="form-control" (input)="onUpdateServer($event)" />
        <p>{{serverName}}</p>
    </div>
</div>